Repository PhyberApex/virtual-camera-overlay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,vue}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,scss,html,json,md}": [
    "prettier --write"
  ]
}

fix: Switch to pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: Integrate BRB screen with raining emojis
  .env.example
  .eslintignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
  public/rain/janisapproved.png
  public/rain/janisreally.png
  public/rain/janiswhy.png
  public/rain/janiswow.png
  public/rain/mortyxmas.png
  src/App.vue
  src/__tests__/App.spec.js
  src/__tests__/components/StepDisplay.spec.js
  src/components/BeRightBack.vue
  src/components/DevPanel.vue
  src/components/StepsDisplay.vue
  src/composables/useHomeAssistant.js
  src/index.css
  tailwind.config.js
  vite.config.js
Due: eslint --fix, prettier --write

fix: Fixed all tests
  src/App.vue
  src/__tests__/App.spec.js
  src/__tests__/composables/useHomeAssistant.spec.js
Due: eslint --fix, prettier --write

chore: Revised README.md
  README.md
Due: prettier --write

feat: Added TypeScript and migrated
  .github/workflows/ci.yml
  README.md
  eslint.config.js
  index.html
  package.json
  pnpm-lock.yaml
  shims-vue.d.ts
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/StepDisplay.spec.ts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/components/BeRightBack.vue
  src/components/DevPanel.vue
  src/components/StepsDisplay.vue
  src/composables/useHomeAssistant.ts
  src/main.ts
  tsconfig.json
  tsconfig.node.json
Due: eslint --fix, prettier --write

chore: Update gitignore
  .gitignore
Due: none

fix: Fixing actions
  .github/workflows/ci.yml
Due: none

fix: Updating pnpm
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Updating pnpm
  README.md
Due: prettier --write

chore: Remove step
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Add distance
  src/components/StepsDisplay.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

fix tests
  src/__tests__/components/StepDisplay.spec.ts
Due: none

Add heart rate
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

add hear rate
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

Dev panel for heart rate
  src/components/DevPanel.vue
Due: eslint --fix, prettier --write

first draft heart rate
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/App.vue
  src/components/DevPanel.vue
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
  vite.config.js
Due: eslint --fix, prettier --write

Always allow dev mode and automatic switch to wss on https
  src/components/DevPanel.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

Try styling of heart rate component
  src/components/HeartRate.vue
Due: eslint --fix, prettier --write

fix lint error
  src/components/HeartRate.vue
Due: eslint --fix, prettier --write

Undo
  src/components/HeartRate.vue
Due: eslint --fix, prettier --write

Heart rate final
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

Fix port
  .env.example
  .github/workflows/ci.yml
  src/composables/useHomeAssistant.ts
Due: none

Fix CI
  .github/workflows/ci.yml
Due: none
