Repository PhyberApex/virtual-camera-overlay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

feat: implement audio-reactive particles for virtual camera overlay
  src/App.vue
  src/components/audio-effects/AudioController.vue
  src/components/audio-effects/AudioVisualizer.vue
  src/components/audio-effects/ParticleEffect.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

feat: implement complete widget system with sensor and temperature widgets
  WIDGET_SYSTEM.md
  src/App.vue
  src/components/WidgetBase.vue
  src/components/WidgetSensor.vue
  src/components/WidgetTemperature.vue
  src/components/index.ts
  src/composables/useWidgetManager.ts
Due: eslint --fix, prettier --write

Add Widget rework
  .gitignore
  WIDGET_SYSTEM.md
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/WidgetBase.spec.ts
  src/__tests__/components/WidgetSensor.spec.ts
  src/__tests__/components/WidgetTemperature.spec.ts
  src/__tests__/composables/useWidgetManager.spec.ts
  src/components/WidgetBase.vue
  src/components/WidgetSensor.vue
  src/components/WidgetTemperature.vue
  src/composables/useHomeAssistant.ts
  src/composables/useWidgetManager.ts
Due: eslint --fix, prettier --write

Add Widget rework
  .gitignore
  DESIGN.md
  PRODUCT.md
  README.md
  skills-lock.json
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/StepDisplay.spec.ts
  src/__tests__/components/WidgetSteps.spec.ts
  src/components/BeRightBack.vue
  src/components/DevPanel.vue
  src/components/HeartRate.vue
  src/components/StepsDisplay.vue
  src/components/WidgetBase.vue
  src/components/WidgetSteps.vue
  src/composables/useHomeAssistant.ts
  src/style.css
  vite.config.js
Due: eslint --fix, prettier --write

feat: implement complete widget system for virtual camera overlay (#381)
  .gitignore
  DESIGN.md
  PRODUCT.md
  README.md
  skills-lock.json
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/StepDisplay.spec.ts
  src/__tests__/components/WidgetBase.spec.ts
  src/__tests__/components/WidgetSensor.spec.ts
  src/__tests__/components/WidgetSteps.spec.ts
  src/__tests__/components/WidgetTemperature.spec.ts
  src/__tests__/composables/useWidgetManager.spec.ts
  src/components/BeRightBack.vue
  src/components/DevPanel.vue
  src/components/HeartRate.vue
  src/components/StepsDisplay.vue
  src/components/WidgetBase.vue
  src/components/WidgetSensor.vue
  src/components/WidgetSteps.vue
  src/components/WidgetTemperature.vue
  src/components/index.ts
  src/composables/useHomeAssistant.ts
  src/composables/useWidgetManager.ts
  src/style.css
  vite.config.js
Due: eslint --fix, prettier --write

Initial commit for UI/UX improvements
  src/components/VirtualCameraOverlay.jsx
Due: none

ci: pin the pipeline to the amd64 agent
  .woodpecker/pipeline.yml
Due: none

ci: pin the pipeline to the amd64 agent (#554)
  .woodpecker/pipeline.yml
Due: none

feat: add compact mode for the steps widget
  DESIGN.md
  README.md
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/WidgetBase.spec.ts
  src/__tests__/components/WidgetSteps.spec.ts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/components/DevPanel.vue
  src/components/WidgetBase.vue
  src/components/WidgetSteps.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

fix: widen compact steps widget for clipping safety margin
  src/App.vue
Due: eslint --fix, prettier --write

feat: add compact mode for the steps widget (#593)
  DESIGN.md
  README.md
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/WidgetBase.spec.ts
  src/__tests__/components/WidgetSteps.spec.ts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/components/DevPanel.vue
  src/components/WidgetBase.vue
  src/components/WidgetSteps.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

fix: apply every entity in HA websocket events, guard against NaN
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/composables/useHomeAssistant.ts
Due: none

refactor: extract parseFiniteFloat helper to dedupe numeric parsing
  src/composables/useHomeAssistant.ts
Due: none

fix: apply every entity in Home Assistant websocket events (#603)
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/composables/useHomeAssistant.ts
Due: none

fix: add typecheck script and CI gate, fix 6 type errors
  .woodpecker/pipeline.yml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/BeRightBack.vue
Due: eslint --fix, prettier --write

fix: add typecheck gate to CI and fix 6 existing type errors (#604)
  .woodpecker/pipeline.yml
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/BeRightBack.vue
Due: eslint --fix, prettier --write

fix: remove connection-status chip from camera-facing overlay
  src/App.vue
  src/__tests__/App.spec.ts
Due: eslint --fix, prettier --write

fix: remove connection-status chip from camera-facing overlay (#605)
  src/App.vue
  src/__tests__/App.spec.ts
Due: eslint --fix, prettier --write

fix: hide heart-rate and steps overlays when data is unavailable or stale
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/HeartRate.spec.ts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

fix: clean up connection-loss timer leaks and dev-panel mock data
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/composables/useHomeAssistant.ts
Due: none

fix: hide heart-rate and steps overlays when data is unavailable or stale (#606)
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/HeartRate.spec.ts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

fix: skip deploy upload when build output is unchanged, stop wiping the share
  .woodpecker/deploy/lib.js
  .woodpecker/deploy/lib.test.js
  .woodpecker/deploy/run.js
  .woodpecker/pipeline.yml
  package.json
Due: eslint --fix, prettier --write

refactor: dedupe smbclient arg-building and log swallowed deploy errors
  .woodpecker/deploy/run.js
Due: eslint --fix, prettier --write

feat: derive heart-rate zones from configurable maxHeartRate
  DESIGN.md
  public/overlay-config.json
  src/__tests__/components/HeartRate.spec.ts
  src/__tests__/composables/useOverlayConfig.spec.ts
  src/__tests__/utils/heartRateZone.spec.ts
  src/components/HeartRate.vue
  src/composables/useOverlayConfig.ts
  src/utils/heartRateZone.ts
Due: eslint --fix, prettier --write

feat: derive heart-rate zones from configurable maxHeartRate (#608)
  DESIGN.md
  public/overlay-config.json
  src/__tests__/components/HeartRate.spec.ts
  src/__tests__/composables/useOverlayConfig.spec.ts
  src/__tests__/utils/heartRateZone.spec.ts
  src/components/HeartRate.vue
  src/composables/useOverlayConfig.ts
  src/utils/heartRateZone.ts
Due: eslint --fix, prettier --write

feat: drive entities and widgets from a committed overlay config file
  README.md
  docs/adr/0001-overlay-config-file.md
  public/overlay-config.json
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/__tests__/composables/useOverlayConfig.spec.ts
  src/__tests__/utils/widgetLayout.spec.ts
  src/composables/useHomeAssistant.ts
  src/composables/useOverlayConfig.ts
  src/utils/widgetLayout.ts
Due: eslint --fix, prettier --write

refactor: fetch the overlay config lazily and reuse layout vector types
  src/App.vue
  src/composables/useHomeAssistant.ts
  src/composables/useOverlayConfig.ts
Due: eslint --fix, prettier --write

test: cover widget entityId subscription at authentication
  src/__tests__/composables/useHomeAssistant.spec.ts
Due: none

fix: prevent duplicate WebSocket connections from concurrent component mounts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/composables/useHomeAssistant.ts
Due: none

feat: drive entities and widgets from a committed overlay config file (#609)
  README.md
  docs/adr/0001-overlay-config-file.md
  public/overlay-config.json
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/__tests__/composables/useOverlayConfig.spec.ts
  src/__tests__/utils/widgetLayout.spec.ts
  src/composables/useHomeAssistant.ts
  src/composables/useOverlayConfig.ts
  src/utils/widgetLayout.ts
Due: eslint --fix, prettier --write

fix(ci): move deploy scripts out of .woodpecker/
  package.json
  scripts/deploy/lib.js
  scripts/deploy/lib.test.js
  scripts/deploy/run.js
Due: eslint --fix, prettier --write

fix: deploy only when the overlay changed, without wiping the share (#607)
  .woodpecker/pipeline.yml
  package.json
  scripts/deploy/lib.js
  scripts/deploy/lib.test.js
  scripts/deploy/run.js
Due: eslint --fix, prettier --write

fix: resolve runtime config, BRB images, and favicon relative to the page
  index.html
  src/App.vue
  src/__tests__/composables/useRuntimeConfig.spec.ts
  src/components/BeRightBack.vue
  src/composables/useRuntimeConfig.ts
Due: eslint --fix, prettier --write

fix: resolve runtime config, BRB images, and favicon relative to the page (#621)
  index.html
  src/App.vue
  src/__tests__/composables/useRuntimeConfig.spec.ts
  src/components/BeRightBack.vue
  src/composables/useRuntimeConfig.ts
Due: eslint --fix, prettier --write

fix: time out a stalled auth handshake and re-read the HA token
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/__tests__/composables/useRuntimeConfig.spec.ts
  src/composables/useHomeAssistant.ts
  src/composables/useRuntimeConfig.ts
Due: none

fix: guard runtime config cache against a late-resolving abandoned fetch
  src/__tests__/composables/useRuntimeConfig.spec.ts
  src/composables/useRuntimeConfig.ts
Due: none

fix: time out a stalled auth handshake and re-read the HA token (#622)
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/__tests__/composables/useRuntimeConfig.spec.ts
  src/composables/useHomeAssistant.ts
  src/composables/useRuntimeConfig.ts
Due: none

feat: make heart-rate position and steps compact size configurable
  DESIGN.md
  README.md
  docs/adr/0001-overlay-config-file.md
  docs/adr/0002-heart-rate-position-and-steps-compact-size.md
  public/overlay-config.json
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/HeartRate.spec.ts
  src/__tests__/composables/useOverlayConfig.spec.ts
  src/__tests__/utils/widgetLayout.spec.ts
  src/components/HeartRate.vue
  src/composables/useOverlayConfig.ts
  src/utils/widgetLayout.ts
Due: eslint --fix, prettier --write

fix: keep ADR-0001 unedited per the issue's recorded decision
  docs/adr/0001-overlay-config-file.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.{css,scss,html,json,md})
