Repository PhyberApex/virtual-camera-overlay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: make heart-rate position and steps compact size configurable (#623)
  DESIGN.md
  README.md
  docs/adr/0002-heart-rate-position-and-steps-compact-size.md
  public/overlay-config.json
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/HeartRate.spec.ts
  src/__tests__/composables/useOverlayConfig.spec.ts
  src/__tests__/utils/widgetLayout.spec.ts
  src/components/HeartRate.vue
  src/composables/useOverlayConfig.ts
  src/utils/widgetLayout.ts
Due: eslint --fix, prettier --write

fix: stabilize BeRightBack particles and correct DESIGN.md claims
  DESIGN.md
  src/__tests__/components/BeRightBack.spec.ts
  src/components/BeRightBack.vue
Due: eslint --fix, prettier --write

fix: stabilize BeRightBack particles and correct DESIGN.md claims (#624)
  DESIGN.md
  src/__tests__/components/BeRightBack.spec.ts
  src/components/BeRightBack.vue
Due: eslint --fix, prettier --write

fix: show steps widget while treadmill is paused, dim speed instead
  DESIGN.md
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/WidgetSteps.spec.ts
  src/components/WidgetSteps.vue
Due: eslint --fix, prettier --write

refactor: extract isPaused computed in WidgetSteps
  src/components/WidgetSteps.vue
Due: eslint --fix, prettier --write

fix: show steps widget while treadmill is paused, dim speed instead (#625)
  DESIGN.md
  src/App.vue
  src/__tests__/App.spec.ts
  src/__tests__/components/WidgetSteps.spec.ts
  src/components/WidgetSteps.vue
Due: eslint --fix, prettier --write

ci: fail CI on lint/format violations instead of auto-fixing
  .husky/pre-commit
  .lintstagedrc
  .woodpecker/pipeline.yml
  package.json
  src/__tests__/components/BeRightBack.spec.ts
  src/__tests__/composables/useRuntimeConfig.spec.ts
  src/components/index.ts
Due: prettier --write

ci: fail CI on lint/format violations instead of auto-fixing (#626)
  .husky/pre-commit
  .lintstagedrc
  .woodpecker/pipeline.yml
  package.json
  src/__tests__/components/BeRightBack.spec.ts
  src/__tests__/composables/useRuntimeConfig.spec.ts
  src/components/index.ts
Due: prettier --write

chore: consolidate on VITE_HA_DEV_PORT, drop unused VITE_HA_PORT and /api proxy
  README.md
  src/__tests__/composables/useHomeAssistant.spec.ts
  vite.config.js
Due: eslint --fix, prettier --write

chore: consolidate on VITE_HA_DEV_PORT, drop unused VITE_HA_PORT and /api proxy (#627)
  README.md
  src/__tests__/composables/useHomeAssistant.spec.ts
  vite.config.js
Due: eslint --fix, prettier --write

fix: parse HA snapshot metric values as strings, not numbers
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/composables/useHomeAssistant.ts
Due: none

fix: parse HA snapshot metric values as strings, not numbers (#628)
  src/__tests__/composables/useHomeAssistant.spec.ts
  src/composables/useHomeAssistant.ts
Due: none

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.{css,scss,html,json,md})
