Repository PhyberApex/virtual-camera-overlay: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Better scaling for heart
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

Up the values for heart rates on animations
  src/components/HeartRate.vue
  src/composables/useHomeAssistant.ts
Due: eslint --fix, prettier --write

Switch to woodpecker
  .woodpecker/pipeline.yml
Due: none

Switch to woodpecker
  .github/workflows/ci.yml
Due: none

Update pipeline.yml
  .woodpecker/pipeline.yml
Due: none

Update README.md
  README.md
Due: prettier --write

Switch to remove the smb share as requirement
  .woodpecker/pipeline.yml
Due: none

feat: add websocket resilience
  src/__tests__/App.spec.ts
  src/composables/useHomeAssistant.ts
Due: none

feat: load ha token from runtime config
  .gitignore
  .woodpecker/pipeline.yml
  README.md
  public/app-config.example.json
  src/composables/useHomeAssistant.ts
  src/composables/useRuntimeConfig.ts
Due: prettier --write

feat: load ha token from runtime config (#328)
  .gitignore
  .woodpecker/pipeline.yml
  README.md
  public/app-config.example.json
  src/composables/useHomeAssistant.ts
  src/composables/useRuntimeConfig.ts
Due: prettier --write

docs: update Node.js version requirement to 18+
  README.md
Due: prettier --write

docs: update Node.js version requirement to 18+ (#329)
  README.md
Due: prettier --write

feat: implement complete widget system with sensor and temperature widgets
  WIDGET_SYSTEM.md
  src/App.vue
  src/components/WidgetBase.vue
  src/components/WidgetSensor.vue
  src/components/WidgetTemperature.vue
  src/components/index.ts
  src/composables/useWidgetManager.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,vue}
  prettier --write: (any of: *.{js,vue}) or (any of: *.{css,scss,html,json,md})
